<header>
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <img width="" src="https://vignette3.wikia.nocookie.net/fwt/images/e/e3/Illust_Yekaterina_01.png/revision/latest?cb=20160123021259">
  </div>
</header>

<body>
  <hero-list
    [childHeroList]="masterHeroList"
    (clickSender)="showDetails($event)"
  >
    <edit-hero
    [childSelectedHero]="selectedHero"
    (doneClickedSender)="finishedEditing()"
    >
    </edit-hero>
  </hero-list>
  <new-hero
    (newHeroSender)="addHero($event)"
  >
  </new-hero>
</body>

<footer>
  <h5 class="credit mt-2" style="text-align:center"><a target="_blank" href="https://alexanderjacks.com">Alexander Jacks Consulting</a></h5>
</footer>