@import "bourbon/bourbon"
$font-stack: Helvetica, sans-serif
$main-color: blue

h1
  font: 150% $font-stack
  color: $main-color
  text-shadow: 2px 2px 2px rgba(0,200,255,0.5)
  text-shadow: 2px -2px 2px rgba(0,200,255,0.5)
  text-shadow: -2px 2px 2px rgba(0,200,255,0.5)
  text-shadow: -2px -2px 2px rgba(0,200,255,0.5)

h2
    font: 100% $font-stack

.app-marquee
    text-align: center
    background-image: url("../assets/fwt_logo_40_clear.png")

.header_icon
  width: 28px

header
   @include linear-gradient(to top, chocolate, papayawhip)

.app-itself
    text-align: center
