$font-stack: Helvetica, sans-serif
$main-color: blue

h1
  font: 250% $font-stack
  color: $main-color

.main_img
  max-width: 20vw
  max-height: 30vh
  border-color: maroon
  border-width: 1px

.header_icon
  width: 28px