<header>
<div class="app-marquee">
  <h6>
    Intended for Educational Purposes Only: all IP Nexon&copy; &amp; NexonGT&copy;
  </h6>
  <h6>
    <img src="../assets/fwticon_Rock.png" class="header_icon" />
    <img src="../assets/fwticon_Paper.png" class="header_icon" />
    <img src="../assets/fwticon_Scissors.png" class="header_icon" />
    <img src="../assets/fwticon_AreaAttack.png" class="header_icon" />
    <img src="../assets/fwticon_Attack.png" class="header_icon" />
    <img src="../assets/fwticon_Balance.png" class="header_icon" />
    <img src="../assets/fwticon_Defense.png" class="header_icon" />
    <img src="../assets/fwticon_Support.png" class="header_icon" />
  </h6>
  <h1>{{title}}</h1>
  <h2>{{instructions}}</h2>
  <h2>{{ETH}}</h2>
</div>
</header>

  <app-hero-list
    [childHeroList]="masterHeroList"
    (clickSender)="showDetails($event)"
    class="app-itself"
  >
  </app-hero-list>


<footer>
  <h5 class="credit mt-2" style="text-align:center"><a target="_blank" href="https://alexanderjacks.biz">Alexander Jacks SVC</a></h5>
</footer>
