$font-stack: Helvetica, sans-serif
$main-color: blue

h1
  font: 250% $font-stack
  color: $main-color

.main_img
  max-width: 300px
  border-color: maroon
  border-width: 4px
  border-style: groove

.header_icon
  width: 28px