<div *ngIf="hero.party === true" class="">
    <div class="">
        <img src="{{hero.imgurl}}.png"
          (click)="toggleParty(false)"
          (change)="onChange($event.target.value)"
          class="btn filter party-img"
        />
        <img src="../assets/fwticon_{{hero.type}}.png"
            alt='hero.type'
            class="hero-type-party d-inline"
        />
        <h4 class="party-name d-inline">{{hero.name}}</h4>
    </div>
</div>


<div *ngIf="hero.party === false" class="">
    <img src="{{hero.imgurl}}.png"
      (click)="toggleParty(true)"
      (change)="onChange($event.target.value)" class="btn filter framed-img"
    />
    <h3 class="army-name">{{hero.name}}</h3>

    <img class="inline" src="../assets/fwticon_{{hero.property}}.png" alt='hero.property' />
    <img class="inline" src="../assets/fwticon_{{hero.type}}.png" alt='hero.type' />
    <img class="inline" src="../assets/fwticon_{{hero.terr1}}.png" alt='hero.terr1' />
    <img class="inline" src="../assets/fwticon_{{hero.terr2}}.png" alt='No 2nd terrain' />
</div>
