@import "bourbon/bourbon"
@import "saffron/saffron"

.partyzone
    border: 2px
    border-style: groove
    background: blanchedalmond
    width: 100%

.grouping-box
    border-width: 2px
    border-color: darkgrey
    border-style: groove
    border-radius: 3px

.ally-pic
    border-width: 0px
    border-style: groove

.sm-text
    font-size: 13px
h5
    font-size: 12px

.Scissors
    @include linear-gradient(to right bottom, darkgreen, papayawhip)
.Paper
    @include linear-gradient(to right bottom, darkcyan, papayawhip)
.Rock
    @include linear-gradient(to right bottom, darkred, papayawhip)
