@import "node_modules/bourbon/app/assets/stylesheets/bourbon"
@import "saffron/saffron"

.btn
    &:hover
        @include pulsate()
    &:active
        @include bounce()

.army-name
    font-size: 150%
    font-family: georgia
    color: black
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
.party-name
    font-size: 120%
    font-family: georgia
    color: navy
    text-shadow: 2px 2px 4px red, -2px -2px 4px red, -2px 2px 4px gold, 2px -2px 4px gold
    z-index: 20
    position: relative

.party-img
    max-height: 15vh
    border-width: 2px
    border-color: darkgrey
    border-style: groove
    padding: 0px
    margin-left: 4px
    margin-top: 4px

.party-icons-anchor
    position: relative

// positioning for type icon overlay on hero image
.hero-type-party
    top: 8px
    left: 10px
    position: absolute

// positioning for terrain icons overlay on hero image
.hero-first-terrain
    position: absolute
    bottom: 9px
    right: 4px
    z-index: 15
.hero-second-terrain
    position: absolute
    bottom: 9px
    left: 4px
    z-index: 10


.army-img
    position: center

h4 ~ img
    max-width: 30%
