<div class="navbar sticky-top my-0">
  <div class="testzone row my-0">
    <div *ngFor="let currentHero of childHeroList" class="party-hero my-0">
      <span *ngIf="currentHero.party==true" class="">


        <app-hero [hero]="currentHero" class=""></app-hero>

        <img class="d-inline" src="../assets/fwticon_{{currentHero.property}}.png" alt='currentHero.property' />
        <img class="d-inline" src="../assets/fwticon_{{currentHero.type}}.png" alt='currentHero.type' />
        <h3 class="d-inline shadow-text-1">{{currentHero.name}}</h3>
        <img class="d-inline" src="../assets/fwticon_{{currentHero.terr1}}.png" alt='currentHero.terr1' />

        <div class="col">
          <img class="d-inline ally-pic" src="../assets/{{currentHero.ally1}}.png" alt="{{currentHero.ally1}}" />
          <img class="d-inline ally-pic" src="../assets/{{currentHero.ally2}}.png" alt="{{currentHero.ally2}}" />
          <img class="d-inline ally-pic" src="../assets/{{currentHero.ally3}}.png" alt="{{currentHero.ally3}}" />
        </div>

      </span>
    </div>
  </div>
  <div class="row">
    <select
      (change)="propertyChange($event.target.value)" class="btn col btn-lg color1 filter">
        <option value="all" selected="selected">All Properties</option>
        <option value="Rock">Rock</option>
        <option value="Scissors">Scissors</option>
        <option value="Paper">Paper</option>
    </select>

    <select
      (change)="typeChange($event.target.value)" class="btn col btn-lg color2 filter">
      <option value="all" selected="selected">All Types</option>
      <option value="AreaAttack">AreaAttack</option>
      <option value="Attack">Attack</option>
      <option value="Balance">Balance</option>
      <option value="Defense">Defense</option>
      <option value="Support">Support</option>
    </select>

    <select
      (change)="terr1Change($event.target.value)" class="btn col btn-lg color3 filter">
      <option value="all" selected="selected">All Terrain</option>
      <option value="Grass">Grass</option>
      <option value="Thornbush">Thornbush</option>
      <option value="Water">Water</option>
      <option value="Swamp">Swamp</option>
      <option value="Poison">Poison</option>
      <option value="Lava">Lava</option>
      <option value="Glacier">Glacier</option>
    </select>

  </div>
</div>

<div *ngFor="let currentHero of childHeroList | property:selectedProperty | type:selectedType | terr1:selectedTerr1">
  <div *ngIf="currentHero.party==false">


    <div class="card {{currentHero.property}}">

      <div class="row">
        <div class="col-7">
          <app-hero [hero]="currentHero"></app-hero>
          <h2 class="name-tag shadow-text-1">{{currentHero.name}}</h2>
        </div>
        <div class="col-5">
          <h4 class="mt-3">Attributes</h4>
          <img class="d-inline mx-2" src="../assets/fwticon_{{currentHero.property}}.png" alt='currentHero.property' />
          <img class="d-inline mx-2" src="../assets/fwticon_{{currentHero.type}}.png" alt='currentHero.type' />
          <img class="d-inline mx-2" src="../assets/fwticon_{{currentHero.terr1}}.png" alt='currentHero.terr1' />

          <h4 class="mt-3">Allies</h4>
          <img class="ally-pic" src="../assets/{{currentHero.ally1}}.png" alt='{{currentHero.ally1}}' />
          <img class="ally-pic" src="../assets/{{currentHero.ally2}}.png" alt='{{currentHero.ally2}}' />
          <img class="ally-pic" src="../assets/{{currentHero.ally3}}.png" alt='{{currentHero.ally3}}' />
        </div>
      </div>

    </div>


  </div>
</div>
