.small-img
    max-width: 18vw
    border-width: 2px
    border-color: darkgrey
    border-style: groove
.small-img ~ .name-tag
    color: firebrick
    font: 80% arial

.framed-img
    width: 30vw
    border-width: 4px
    border-color: darkgrey
    border-style: groove
.framed-img ~ .name-tag
    color: gold
    font: 220% arial

.shadow-text-1
    font: 150%
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
