<div *ngIf="hero.party === true" class="d-flex flex-row">
    <div class="col-9">
        <img src={{hero.imgurl}} class=""
          (click)="toggleParty(false)"
          (change)="onChange($event.target.value)" class="btn filter p-0 party-img"
        />
        <h4 class="party-name">{{hero.name}}</h4>
    </div>

    <div class="flex-column col-3 m-0 p-0 b-0">
        <img class="mx-1" src="../assets/fwticon_{{hero.property}}.png" alt='hero.property' />
        <img class="mx-1" src="../assets/fwticon_{{hero.type}}.png" alt='hero.type' />
        <img class="mx-1" src="../assets/fwticon_{{hero.terr1}}.png" alt='hero.terr1' />
        <img class="mx-1" src="../assets/fwticon_{{hero.terr2}}.png" alt='No 2nd terrain' />
    </div>
</div>


<div *ngIf="hero.party === false" class="">
    <img src={{hero.imgurl}}
      (click)="toggleParty(true)"
      (change)="onChange($event.target.value)" class="btn filter p-0 framed-img"
    />
    <h3 class="list-name">{{hero.name}}</h3>

    <img class="inline mx-1" src="../assets/fwticon_{{hero.property}}.png" alt='hero.property' />
    <img class="inline mx-1" src="../assets/fwticon_{{hero.type}}.png" alt='hero.type' />
    <img class="inline mx-1" src="../assets/fwticon_{{hero.terr1}}.png" alt='hero.terr1' />
    <img class="inline mx-1" src="../assets/fwticon_{{hero.terr2}}.png" alt='No 2nd terrain' />
</div>
