.testzone
    border: 2px
    padding-left: 3vw
    border-style: groove
    background: aliceblue

.party-hero
    max-width: 18vw

.ally-pic
    border-width: 2px
    border-color: darkgrey
    border-style: groove

.col > .ally-pic
    width: 70px
    height: 55px
    max-width: 15vw
h4 ~ .ally-pic
    width: 105px
    height: 85px


.Scissors
    background: lightgreen
.Paper
    background: turquoise
.Rock
    background: darksalmon
