<div class="py-2 row">
  <div class="col-8 align-self-center">
    <img src={{hero.imgurl}}
      *ngIf="hero.party === true" (click)="toggleParty(false)"
      (change)="onChange($event.target.value)" class="btn filter p-0 small-img"
    />
    <img src={{hero.imgurl}}
      *ngIf="hero.party === false" (click)="toggleParty(true)"
      (change)="onChange($event.target.value)" class="btn filter p-0 framed-img"
    />
    <img class="d-inline name-tag" src="../assets/fwticon_{{hero.property}}.png" alt='hero.property' />
    <label class="d-inline name-tag shadow-text-1">{{ hero.name }}</label>
    <img class="d-inline name-tag" src="../assets/fwticon_{{hero.type}}.png" alt='hero.type' />
    <img class="d-inline name-tag" src="../assets/fwticon_{{hero.terr1}}.png" alt='hero.terr1' />
  </div>
</div>
