.small-img
    max-width: 18vw
    max-height: 18vh
    border-width: 2px
    border-color: darkgrey
    border-style: groove
.framed-img
    width: 30vw
    border-width: 4px
    border-color: darkgrey
    border-style: groove
